
#hero{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/ux_ui.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

#navbar{
    position:fixed;
    width: 100%;
    top: 0;
    z-index: 10000;
    background: linear-gradient(rgba(0,0,0.1), rgba(0,0,0,0.1));
   
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.3); /* Color semitransparente */
  transition: background-color 0.5s ease-in-out; /* Animación suave */
}